body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.inp {
  border-color: #dfdee0;
  border-width: 3px;
  width: 100%;
}
.inp-date {
  border-color: #dfdee0;
  border-width: 3px;
  width: 90%;
}
.inp-cvc {
  border-color: #dfdee0;
  border-width: 3px;
  width: 100%;
}
.btn {
  background-color: #21092f;
}
.btnCont {
  background-color: #21092f;
}
